---
import { languageTag } from "../paraglide/runtime";
import * as m from "../paraglide/messages.js";
import Emoji from "astro-emoji";
---

<html lang={languageTag()} dir={Astro.locals.paraglide.dir}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1 class="text-red-600">404</h1>
    <p>{m.error_404()}</p>
    <a href="/" class="btn">
        <Emoji symbol="↩️" label="return arrow" />
        {m.home_button()}
    </a>
  </body>
</html>