---
import { sourceLanguageTag } from "@paraglide/runtime";

// import DefaultLayout from "@layouts/DefaultLayout.astro";
// import * as m from "@paraglide/messages.js";
// import { Image } from "astro:assets";
// import profile from "assets/images/profile-picture-square.webp";
---

<html>
  <head>
    <meta http-equiv="refresh" content=`0;url=/${sourceLanguageTag}` />
    <link rel="canonical" href=`${sourceLanguageTag}` />
  </head>
</html>
<!-- <DefaultLayout title={m.homepage_title()} description={m.homepage_desc()}>
  <div>
    <Image alt="profile" src={profile} />
  </div>
</DefaultLayout> -->
